

.cards{
    width: 30rem;
    display: flex;
    justify-content:center;
    align-items: center;
    margin:auto;
  margin-top: 15%;
}
.header{
    display: flex;
    justify-content:center;
    align-items: center;
    margin:auto;
    color: blue;
    font-size: 3rem;
 }

 .header{
    width: 30rem;
    display: flex;
    justify-content:center;
 }

 .footer{
    width: 30rem;
    display: flex;
    justify-content:center;
    align-items: center;
    margin:auto;
 }

 .counter{
    width: 30rem;
    display: flex;
    justify-content:center;
    align-items: center;
    color: green;
    margin:auto;
    
 }

 .buttons{
    display: flex;
    justify-content:center;
    align-items: center;
    margin:auto;
 }

 